<%- include('../partials/header.ejs') %>

    <div class="container">
        <hr>
        <div class="card">
            <div class="card-header">
                <h2> Edição de Atividade </h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/atividade/update" id="formulario">
                    <label>Titulo</label>
                    <input type="text" class="form-control" name="titulo" placeholder="Defina o título"
                        value="<%= atividades.titulo%>"> <br>
                    <label>Texto</label>
                    <textarea name="texto" class="form-control" id="atividade"><%- atividades.texto %></textarea> <br>
                    <input type="hidden" name="id" value="<%= atividades.id %>"> <br>
                    <label>Disciplina</label>
                    <select name="disciplina" class="form-control">
                        <% disciplinas.forEach(disciplina => { %>
                            <% if(disciplina.id == atividades.disciplinaId) { %>
                                <option value="<%= disciplina.id %>" selected><%= disciplina.titulo %></option>
                            <%} else { %>
                                <option value="<%= disciplina.id %>"><%= disciplina.titulo %></option>
                            <% } %> 
                        <% }) %>
                    </select>
                    <br>
                    <button class="btn btn-primary">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js"></script>
<script>
    tinymce.init({
        language: 'pt-BR',
        selector: '#atividade',
        plugins: [
                        'advlist', // Para criação de listas
                        'autolink', // Quando tiver um link no meu texto já ficar azul
                        'link', // Para criar links com botão
                        'image', // para importar imagem
                        'lists',  // Lista simples
                        'print', // Impressão
                        'preview', // Prever oque está escrevendo
                        'searchreplace', // Pesquisar por palavra
                        'hr', // Uma linha 
                        'wordcount', // quantidade de palavra
                        'fullscreen', // Deixar tela cheia
                        'insertdatetime', // Inserir a data no texto
                        'media', // Insirir midia videos 
                        'save', // Salvar como artigo
                        'table', // criar tabelas
                        'paste', // Colar coisas
                        'emoticons' // Para colocar Emojis
        ]
    })
</script>