<%- include('../partials/header.ejs') %>
<%- include('../partials/navbar.ejs') %>
<body id="corpo-atividade">
<div class="container">
    <div class="card mt-5">
        <div class="card-header" id="titulo-disciplina">
            Atividades
        </div>
        <hr>
        <a id="botao-disc" class="btn btn-success" href="/admin/atividade/new">Criar nova Atividade</a>
        <hr>
        <br>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Slug</th>
                        <th>Disciplina</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <% atividades.forEach(atividade => { %>
                        <tr>
                            <th><%= atividade.id %></th>
                            <th><%= atividade.titulo %></th>
                            <th><%= atividade.slug %></th>
                            <th style="color: blue;"><%= atividade.disciplina.titulo %></th>
                            <th>Ações</th>
                            <th>
                            <a href="/admin/atividade/edit/<%= atividade.id %>" class="btn btn-warning">Editar</a>    
                            </th>
                            <th>
                                <form method="POST" action="/atividade/delete" style="display: inline;">
                                    <input type="hidden" name="id" value="<%= atividade.id%>">
                                    <button class="btn btn-danger">Deletar</button> 
                                </form>
                            </th>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
<%- include('../partials/footer.ejs') %>
